/* Unviersal Style */

html{
    font-size: 16px; 
    background-color: black; 
    color: white; 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    
}

.name {
    font-size: 3.1rem; 
    color: white; 
    text-align: center; 


}
.link {
    color: aquamarine; 
    text-align: center; 
    padding: 1.5rem; 
}

.phone { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.travel { 
    font-size: 2.4rem; 
    font-weight: 300; 
}

.guide .interest {
    font-size: 1.2rem; 
    color: gray;
}

.icon { 
    padding-top: 1.5rem; 
}

footer { 
    text-align: right; 
    color: gray; 

    
}